{% extends '@EasyAdmin/page/content.html.twig' %}
    
    {% block page_title %}{{ 'dashboard.page_title'|trans }}{% endblock %}
    
    {% block page_actions %}
        <div class="btn-group">
            <a href="{{ path('app_admin') }}" class="btn btn-secondary">
                <i class="fa fa-reply"></i> {{ 'dashboard.back_to_admin'|trans }}
            </a>
        </div>
    {% endblock %}

{% block content %}

  

{% endblock %}