{% block body %}

<!-- Deuxième barre de recherche à droite -->
<div class="container d-flex justify-content-end">
    {{ form_start(form, {'attr': {'class': 'd-flex w-100'}}) }}
    <div class="flex-grow-1 me-2">
        {{ form_widget(form.query, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un mot clé...'}}) }}
    </div>
  
    {{ form_end(form) }}
</div>



{% endblock %}